.sidebar-main-div{
    width: 18%;
    text-align: left;
}

.trendig-logo{
    padding: 1rem;
    font-size: 18px;
    margin: 0.8rem;
    color: orangered;

}
.trendig-logo:hover{
    background-color: #faf0e6;
    cursor: pointer;
}
.trendig-logo span{
    color:black;
    letter-spacing: 1px;
}
