
.App {
  display: flex;
}
.left-side-bar-main-div{
  width: 20%;
}


.middle-main-div{
  width: 80%;
  text-align: center;
  height: 20rem;
  border-top-left-radius: 2rem;
}

@media only screen and (max-width: 800px){
  
  .left-side-bar-main-div{
    width: 15%;
  }
  .middle-main-div{
    width: 85%;
  }
  
}
